{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Reviews plugin for Craft CMS
 *
 * ReviewsWidget Widget Body
 *
 * @author    Scot Mortimer
 * @copyright Copyright (c) 2020 Scot Mortimer
 * @link      https://github.com/mortscode
 * @package   Reviews
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@mortscode/reviews/assetbundles/reviewswidgetwidget/dist', true) ~ '/img/ReviewsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
